#title {
    margin-top: 5cm;
    margin-bottom: 0px;
    margin-right: 3cm;
    margin-left: 3cm;
    padding: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #07689F;
    text-align: left;
    font-size: 80px;
    background-color: rgba(178, 190, 195, 0.6);
    background-image: url("Nusa.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


p{ font-size: x-large;
   text-align: center;
    padding: 10px;
    background-color: turquoise;
   border-radius: 5cm;
   width: 300px;
   margin: auto;
   margin-bottom: 3cm;
}
a {
    color: #31326F;
}
body{ 
    background-color: #FFC93C;
    
}
#atas {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: #9DDFD3;
    position: absolute;
    left: 0px; right: 0px; top: 0px;
    font-size: large;
    word-spacing: 10px;
}
img {
    border-radius: 50%;
    position: absolute; 
    right: 10px;
    width: 100px;
    height: 100px; 
    bottom: 10px;
}

a:hover{
    color:#96893f; transition: 0.3s;
}
