#atas {
    padding: 1cm;
    background-color: rgba(255, 250, 250, 0.795);
    position: absolute;
    left: 0px; right: 0px; top: 0px;
    font-size: large;
    word-spacing: 10px;
    position: fixed;
}
body{ 
    background-color: #FFC93C;
}
a {
    color: #31326F;
}
#title {
    margin: auto;
    padding: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial, sans-serif';
    color: #07689F;
    text-align: center;
    font-size: 60px;
}
iframe{
    margin: auto;
    display: block;
    background-color: rgba(255, 255, 255, 0.3);
}
a{text-decoration:none;color: black;}
a:hover{color:#96893f; transition: 0.3s;}
table {
    margin-top: 3cm;
    margin-bottom: 1cm;
    padding: 1cm;
    font-size: x-large;
    background-color: rgba(245, 243, 243, 0.548);
}
p { font-size: x-large;
    text-align: center;
    padding: 10px;
    background-color: turquoise;
    border-radius: 5cm;
    width: 400px;
    margin: auto;
    margin-bottom: 3cm;
 }
