#title {
    margin: auto;
    padding: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #07689F;
    text-align: center;
    font-size: 80px;
}


p{ font-size: xx-large;
   text-align: center;
   

}
a {
    color: #31326F;
}
body{ 
    background-color: #FFC93C;
    
}
#atas {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: #9DDFD3;
    position: absolute;
    left: 0px; right: 0px; top: 0px;
    font-size: large;
    word-spacing: 10px;
}
img {
    border-radius: 50%;
    position: absolute; 
    right: 10px;
    width: 100px;
    height: 100px; 
    bottom: 10px;
}

a:hover{
    color:#96893f; transition: 0.3s;
}
