#atas {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: #9DDFD3;
    position: absolute;
    left: 0px; right: 0px; top: 0px;
    font-size: large;
}
body{ 
    background-color: #FFC93C;
}
a {
    color: #31326F;
}
#title {
    margin: auto;
    padding: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #07689F;
    text-align: center;
    font-size: 60px;
}
iframe{
    margin: auto;
    display: block;
}
a{text-decoration:none;color: black;}
a:hover{color:#96893f; transition: 0.3s;}
